<section class="row">
    <div class="col-4">
        <div class="mb-3">
            <label for="nickname" class="form-label">Nickname: </label>
            <input type="email" class="form-control" id="nickname" placeholder="Nickname">
        </div>
    </div>

</section>