<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat Cat</title>
        <link rel="stylesheet" href="css/bootstrap.min.css.map">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="chat.css">
    </head>
    <body>
        {{{ body }}}

        {{#if @partial-block}}
            {{> @partial-block scripts}}
        {{/if}}
    </body>
</html>
