{{#contentFor "styles"}}
	<link rel="stylesheet" href="chat.css">
{{/contentFor}}

<div class="container-fluid min-vh-100">
	<header class="row border align-items-center height-header" >
		<section class="cal-12 col-sm-4 col-md-4 border-end">
			<h3 class="text-truncate">{{user.nickname}}</h3>
		</section>
	</header>

	<div class="row height-chat">
		<aside class="col-12 col-sm-4 col-md-4 border p-0">
			<section class="border-bottom p-2">
				<form class="input-group" id="searchForm">
  				<div class="input-group-prepend">
    				<span class="input-group-text rounded-end-0 bg-white h-100">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
  							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
						</svg>
					</span>
  				</div>
  				<input type="search" class="form-control shadow-none border border-start-0 ps-0 rounded-end" placeholder="Username" aria-label="Username" aria-describedby="search" id="search" autocomplete="off">
				
				<ul id="listUsers" class="list-group position-absolute top-100 rounded"></ul>
				</form>
			</section id="converations">

			<ul>
			{{#each conversations as |conversation|}}
				{{#each conversation.users as |user|}}
					{{#notEquals @root.user.id user.id}}
						<li>
							{{user.nickname}}
						</li>
					{{/notEquals}}
				{{/each}}
			{{/each}}
			</ul>
		</aside>

		<section class="col-12 col-sm-8 border d-none d-sm-block p-0">

			{{> chat}}

		</section>
	</div>






{{#contentFor "scripts"}}
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/chat.js" type="text/javascript"></script>
{{/contentFor}}