<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat Cat</title>
	<link rel="stylesheet" href="css/bootstrap.min.css.map">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="chat.css">
</head>
<body>
	<div class="container mt-4">
		
        <h1>Login</h1>

        <form action="/login" method="post" class="row">
            <div class="mb-3 col-12 col-md-4">
                <label for="nickname" class="form-label">Nickname</label>
                <input type="text" class="form-control" id="nickname" aria-describedby="nicknamefield">
            </div>

            <div class="col-12">
                <button class="btn btn-primary">Login</button>
            </div>
        </form>
        
	</div>

</body>
</html>
