<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="css/bootstrap.min.css.map">
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="container mt-4 text-center">

            <h1>Login</h1>

            <form id="formLogin" method="post" action="/login"
                class="row">
                <div class="col-12 col-md-4 mx-auto rounded bg-light py-3 border border-1">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email"
                            aria-describedby="emailfield" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="text" class="form-control" id="password"
                            aria-describedby="passwordfield" name="password">
                    </div>

                    <div class="">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>

                </div>
            </form>

        </div>
    </body>
</html>
