<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css.map">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <title>Register</title>
    </head>
    <body>
        <section class="container">
            <h1 class="p-3 mt-3 text-bg-success text-center border rounded">User Created Successfull</h1>
        </section>
    </body>
</html>