:root{
	--size-message-vineta: 10px;
}

#conversations{
	width: 100%;
	height: 12rem;
	overflow-y: auto;
	word-break: break-all;
	background-color: #f4f4f4;
}

#text{
	box-sizing: border-box;
	width: 100%;
	resize: none;
	outline: none;
}

.height-header{
	height: 7vh;
}

.height-chat{
	height: 93vh;
}

.fit-content{
	width:fit-content;
}

.message{

}

.message__vineta{
	width: var(--size-message-vineta);
	height: var(--size-message-vineta);
	left: calc((var(--size-message-vineta) / 2) * -1) ;
	transform: rotate(45deg);
	background-color: inherit;
}